.page-fv{
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    position: relative;
}

.page-ttl-wrap {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--textBlue);
    text-align: center;

    .sub-ttl{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }
    .page-ttl{
        font-size: 40px;
        letter-spacing: 2px;
        margin: 8px 0 20px;
        font-weight: 500;
    }
    .page-ttl-logo{
        width: 80px;
        margin: 0 auto;
    }
}

.pankuzu-menu{
    position: absolute;
    bottom: 20px;
    left: 80px;

    a{
        color: var(--textColor);
        font-size: 14px;
        position: relative;
        padding-right: 38px;

        &:not(:last-child){
            &::after{
                content: '';
                background: url(../media/images/pankuzu_arw.svg);
                width: 6px;
                height: 11px;
                background-repeat: no-repeat;
                background-size: contain;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 16px;
                position: absolute;

            }

        }
    }
}
.page-section{
    padding: 120px 0;
    .sec-ttl-wrap{
        text-align: center;
        margin-bottom: 64px;
        .logo{
            width: 50px;
            height: 50px;
            margin: 0 auto;
        }
        .sub-ttl{
            color: var(--textBlue);
            letter-spacing: 1.5px;
            margin: 5px 0;
        }
        .sub-ttl-brown{
            color: #CEAF78;
            letter-spacing: 1.5px;
            margin: 5px 0;
        }
        .main-ttl{
            font-size: 32px;
            letter-spacing: 2px;
            font-weight: 600;
        }
    }
}
.c-pageContent-wrap{
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}
h3{
    text-align: center;
    position: relative;
    font-size: 26px;
    margin-bottom: 55px;

    &::before{
        content: '';
        background-color: #5DC1CF;
        width: 40px;
        height: 2px;
        border-radius: 3px;
        bottom: -20px;
        right: 0;
        left: 0;
        margin: auto;
        position: absolute;
    }
}
.root-link{
    color: var(--textBlue);
    font-weight: bold;
    border-bottom: 1px solid #EBE7E0;
    padding-bottom: 2px;
    padding-right: 18px;
    position: relative;
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;

    &::before{
        content: '';
        background: url(../media/images/arw-blue.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 14px;
        height: 4px;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }
}
.root-container{
    max-width: 800px;
    margin: 40px auto;
    background-color: #ffffff;
    position: relative;
    padding: 40px 24px;

    .close-btn{
        position: absolute;
        top: 0;
        right: -60px;
        cursor: pointer;
    }
    .content{
        max-width: 500px;
        margin: 0 auto;

        .item{
            margin-bottom: 25px;
            p{
                display: flex;
                gap: 5px;
                margin-top: 20px;

                span{
                    &:first-child{
                        font-size: 15px;
                        color: var(--textBlue);
                        background-color: #DFF5F8;
                        width: 70px;
                        height: 24px;
                        padding: 3px;
                        border-radius: 35px;
                        text-align: center;
                        font-weight: bold;
                    }
                    &:last-child{
                        width: calc(100% - 75px);
                    }
                
                }
            }
        }
    }
}

.lastMessage-area{
    background-image: url(../media/feature/bg-message.png);
    background-size: 100% 100%;
    background-position: top center;
    text-align: center;
    height: 416px;
    display: flex;
    justify-content: center;
    align-items: center;

    .txt-wrap{
        p{
            margin-bottom: 1.5em;
        }
    }

}
.blue-fv{
    background-color: #EBFBFB;
}
.bgbeige-fv{
    background-color: #FAF7F2;
}
.menuList-wrap{
    padding: 61px 0;

    &:first-of-type{
        padding-top: 0px;
    }

    &:nth-of-type(2),&:nth-of-type(3){
        .main-ttl{
            margin-bottom: 25px;

        }

    }

    .panel-item{
        background-color: #EBFBFB;

        &:hover{
            background-color: var(--textBlue);
            color: #EBFBFB;
        }
    }
    .innerview-panel{
        &:hover{
            .title{
                -webkit-text-stroke: 0px;
            }

        }
        
    }
}

#topics{
    .c-pageContent-wrap{
        max-width: 1080px;
    }
}
.topics-txt-area{
    display: flex;
    gap: 15px;
}
.topics-inner{
    &.in-thumbnail{
        display: grid;
        grid-template-columns: 240px auto;
        gap: 24px;
        align-items: center;

        .topics-txt-area{
            flex-direction: column;
            gap: 0px;
            .date{
                margin-bottom: 15px;
            }

        }
    }
}
.topics-thumbnail-wrap{
    img{
        max-width: 300px;
        height: 158px;
        object-fit: cover;
        width: 100%;
    }
}

.topics-container-wrap{
    max-width: 800px;
    width: 90%;
    margin: 180px auto 120px;

    .topics-ttl-wrap{
        margin-bottom: 40px;
        .ttl{
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .pankuzu-menu{
            position: relative;
            bottom: 0;
            left: 0;
        }
    }
    .topics-content-wrap{
        margin-bottom: 80px;
        .thumbnail-area{
            margin-bottom: 40px;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .root-container{
        margin: 40px 24px;

        .close-btn{
            top: 24px;
            right: 24px;
        }
        .content{
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 768px) {
    .page-ttl-wrap {
        top: 45%;
        left: 0;
        right: 0;
        transform: translate(0%, 0%);
    }
    .pankuzu-menu {
        left: 24px;
    }
    .page-section {
        padding: 80px 0;
    }
    .c-pageContent-wrap {
        padding: 0 24px;
        width: auto;
    }
    .lastMessage-area{
        background-image: url(../media/feature/bg-message_sp.png);
        background-size: 100%;
    }
    .topics-inner{
        &.in-thumbnail{
            display: block;

            .topics-thumbnail-wrap{
                width: 100%;
            }
    
            .topics-txt-area{
                margin-top: 15px;
                .date{
                    margin-bottom: 15px;
                }
            }
        }
    }
    .topics-thumbnail-wrap{
        img{
            max-width: none;
            height: none;
            object-fit: cover;
            width: 100%;
        }
    }

    .topics-container-wrap{
        margin: 120px auto 80px;
    
        .topics-ttl-wrap{
            margin-bottom: 40px;
            .ttl{
                font-size: 32px;
                margin-bottom: 10px;
            }
            
        }
        .topics-content-wrap{
            margin-bottom: 60px;
            
        }
    }

}
@media screen and (max-width: 520px) {
    .page-ttl-wrap{
        .sub-ttl{
            font-size: 18px;
        }
        .page-ttl{
            font-size: 32px;
            margin: 5px 0 20px;
        }
        .main-ttl{
            font-size: 26px;
        }
    }
    .page-section{
        .sec-ttl-wrap{
            .logo{
                width: 40px;
                height: 40px;
            }
            .sub-ttl{
                font-size: 15px;
            }
            .main-ttl{
                font-size: 26px;
            }
        }
    }
    h3{
        font-size: 22px;
        line-height: 1.5;
    }
    .menuList-wrap{
        padding: 40px 0;
    }
}

