:root {
  --textColor:#595553;
  --textBlue:#2BB9CD;
  --textPink:#F8887D;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

body {
  font-family: "Zen Maru Gothic", serif;
  color: var(--textColor);
  font-weight: 600;
  letter-spacing: 1px;
}

p {
  line-height: 1.7;
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

.pinkTxt {
  color: var(--textPink) !important;
}

.blueTxt {
  color: var(--textBlue) !important;
}

.c-content-wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 60px;
}

.c-btn {
  display: block;
  width: 380px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  transition: background-color 0.8s;
  padding: 15px 0;
  border-radius: 35px;
  overflow: hidden;
  background-color: var(--textBlue);
}
.c-btn::before {
  content: "";
  background: url(../media/images/c-btn_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 26px;
  height: 6px;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
  position: absolute;
  transition: right 0.5s;
}
.c-btn span {
  color: #ffffff;
  font-size: 18px;
  transition: color 0.8s;
}
.c-btn:hover {
  background-image: none;
  background-color: #ffffff;
}
.c-btn:hover::before {
  right: -100px;
}
.c-btn:hover span {
  color: var(--textBlue);
}

.detailTxt-area p {
  margin-bottom: 1.5em;
}

.secTtl-wrap {
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.secTtl-wrap .subTtl {
  font-size: 18px;
  margin-bottom: 6px;
}
.secTtl-wrap h2 {
  font-size: 28px;
  margin-bottom: 15px;
}
.secTtl-wrap .ttlImg {
  width: 80px;
  height: 10px;
  margin: 0 auto;
}

.c-hover {
  transition: 0.2s;
}
.c-hover:hover {
  filter: opacity(40%);
}

.c-contentWrap {
  max-width: 1080px;
  margin: 0 auto;
}

header {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
header .inner {
  background-color: rgba(255, 255, 255, 0.6117647059);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 10px 32px 20px;
}
header .menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 201px;
}

.header-menu-area .contact {
  display: flex;
  justify-content: right;
  gap: 10px;
  margin-bottom: 15px;
}
.header-menu-area .contact a {
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 0.2s all;
}
.header-menu-area .contact a:nth-child(1) {
  width: auto;
  margin-left: 20px;
}
.header-menu-area .contact a:nth-child(1) span {
  color: var(--textBlue);
  font-size: 14px;
}
.header-menu-area .contact a:nth-child(1) span::before {
  content: "";
  background-image: url(../media/top_images/map_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  height: 16px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -17px;
  position: absolute;
}
.header-menu-area .contact a:nth-child(2) {
  background-color: #ffffff;
  padding: 15px 10px 15px 30px;
}
.header-menu-area .contact a:nth-child(2) span {
  color: #CEAF78;
  font-size: 17px;
}
.header-menu-area .contact a:nth-child(2) span::before {
  content: "";
  background-image: url(../media/top_images/tel_icon-b.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  top: 3px;
  left: -22px;
  position: absolute;
}
.header-menu-area .contact a:nth-child(2):hover {
  background-color: #CEAF78;
}
.header-menu-area .contact a:nth-child(2):hover span {
  color: #ffffff;
}
.header-menu-area .contact a:nth-child(2):hover span::before {
  background-image: url(../media/top_images/tel_icon-w.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.header-menu-area .contact a:nth-child(3) {
  background-color: #4CC755;
  padding: 15px 10px 15px 45px;
}
.header-menu-area .contact a:nth-child(3) span {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
.header-menu-area .contact a:nth-child(3) span::before {
  content: "";
  background-image: url(../media/images/line-fukidashi.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -37px;
  position: absolute;
}
.header-menu-area .contact a:nth-child(3):hover {
  background-image: none;
  background-color: #ffffff;
}
.header-menu-area .contact a:nth-child(3):hover span {
  color: #4CC755;
}
.header-menu-area .contact a:nth-child(3):hover span::before {
  background-image: url(../media/images/line-fukidashi-g.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.header-menu-area .contact a span {
  position: relative;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.header-menu-area ul {
  display: flex;
}
.header-menu-area ul li a {
  color: var(--textColor);
  font-weight: bold;
  font-size: 15px;
  position: relative;
}
.header-menu-area ul li a::before {
  content: "";
  background-image: url(../media/top_images/innercircle.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  top: 8px;
  left: -12px;
  position: absolute;
}
.header-menu-area ul li:not(:last-child) a {
  margin-right: 30px;
}

.sp-menu-icon {
  display: none;
}

#sp-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background: url(../media/images/sp-nav-bg.png);
  background-size: cover;
  z-index: 1000;
  transition: 0.3s;
  padding: 20px 10px;
  box-sizing: border-box;
}
#sp-nav.is-active {
  display: block;
}
#sp-nav .sp-nav-inner {
  max-width: 700px;
  margin: 0 auto;
}
#sp-nav .nav-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#sp-nav .nav-header .nav-logo {
  width: 123px;
}
#sp-nav .nav-header .spNav-close {
  width: 44px;
  height: 44px;
}
#sp-nav .footer-contact {
  transform: translateY(0px);
  margin-top: 0;
  padding: 0px;
  margin-bottom: 20px;
}
#sp-nav nav {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}
#sp-nav nav li, #sp-nav nav a {
  color: #ffffff !important;
}
#sp-nav nav .menu-ttl {
  font-size: 16px;
}
#sp-nav nav .menu-ttl a {
  padding-left: 12px;
  position: relative;
}
#sp-nav nav .menu-ttl a::before {
  content: "";
  background: url(../media/top_images/innercircle-w.png);
  width: 8px;
  height: 8px;
  background-size: contain;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  margin: auto;
  position: absolute;
}
#sp-nav nav .medicalMenu-ttl {
  background: url(../media/images/spNav-menu-bg.png) !important;
}

.nav-acs-btn {
  border: 2px solid #ffffff;
  border-radius: 5px;
  display: block;
  margin: 0 15px;
  text-align: center;
  padding: 13px;
  position: relative;
  margin-bottom: 20px;
  color: #ffffff;
}
.nav-acs-btn::before {
  content: "";
  background: url(../media/images/c-btn_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 26px;
  height: 6px;
  bottom: 8px;
  right: 5px;
  position: absolute;
}
.nav-acs-btn span {
  position: relative;
}
.nav-acs-btn span::before {
  content: "";
  background: url(../media/top_images/map_icon-f.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  height: 16px;
  top: 5px;
  left: -18px;
  position: absolute;
}

@media screen and (max-width: 1000px) {
  .header-menu-area {
    display: none;
  }
  .header-logo {
    width: 123px;
  }
  .sp-menu-icon {
    display: block;
    background-color: #5DC1CF;
    border-radius: 5px;
    padding: 15px 12px;
    cursor: pointer;
  }
  .sp-menu-icon .sp-menu-inner {
    position: relative;
    width: 20px;
    height: 14px;
  }
  .sp-menu-icon .sp-menu-inner span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: 0.5s all;
  }
  .sp-menu-icon .sp-menu-inner span:nth-of-type(1) {
    top: 0;
    margin: auto;
  }
  .sp-menu-icon .sp-menu-inner span:nth-of-type(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .sp-menu-icon .sp-menu-inner span:nth-of-type(3) {
    bottom: 0;
    margin: auto;
  }
  header .inner {
    padding: 8px 20px;
  }
}
.fv {
  position: relative;
}

.mainImg-wrap {
  margin-inline: auto;
  overflow: hidden;
  width: 100%;
}

.mainImg-slider img {
  width: 100%;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
.add-animation {
  animation: zoomUp 10s linear 0s normal both;
}

.mainTtl-wrap {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bold;
}

.keyword {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.keyword span {
  font-size: 18px;
  background-color: rgba(93, 193, 207, 0.4705882353);
  padding: 5px 8px;
  border-radius: 6px;
  letter-spacing: 1.5px;
}

h1 {
  text-align: center;
}
h1 p {
  line-height: 1;
}
h1 p:first-of-type {
  font-size: 40px;
  letter-spacing: 3px;
  margin: 20px 0;
}
h1 p:first-of-type span {
  font-size: 32px;
  padding: 0 7px;
}
h1 p:last-of-type {
  font-size: 24px;
  letter-spacing: 1.7px;
}

.mainLogo {
  width: 30%;
  margin: 40px auto 0;
}

.introduction {
  position: relative;
}
.introduction::before {
  content: "";
  background-image: url(../media/images/bg-noise-sky.png);
  width: 100%;
  height: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}
.introduction .content-wrap {
  padding-top: 100px;
  overflow-x: hidden;
}
.introduction .intro-area {
  position: relative;
  max-width: 1450px;
  width: 90%;
  margin: 0 auto;
  padding: 0 40px 120px;
}
.introduction .detailTxt-area {
  text-align: center;
  margin: 40px 0 60px;
}

.randomImg01 {
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 24%;
}

.randomImg02 {
  position: absolute;
  width: 25%;
  top: -50px;
  right: 27%;
  z-index: 2;
}

.randomImg03 {
  width: 46%;
  position: absolute;
  right: -5%;
  top: 7%;
  overflow: hidden;
  border-radius: 20px;
}
.randomImg03 img {
  width: 100%;
}

.aboutInner-area {
  position: relative;
  max-width: 1500px;
  width: 95%;
  margin: 100px auto 0;
}

.detail-inner {
  margin: 0 auto 40px;
  background: #ffffff;
  border-radius: 20px;
  padding: 80px;
  box-sizing: border-box;
  box-shadow: 0px 17px 10px -5px rgba(75, 106, 111, 0.1607843137);
}
.detail-inner .inner {
  display: flex;
}
.detail-inner .inner .inner-txt-area {
  width: 45%;
}
.detail-inner .inner .inner-txt-area .detailTxt-area {
  text-align: left;
  margin: 35px 0 30px;
}

.inner-txt-area .ttl {
  font-size: 24px;
  line-height: 1.5;
  margin: 10px 0 15px;
}

.innerKeyword span {
  font-size: 15px;
  margin-right: 5px;
  padding: 3px 10px;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 10px;
}
.innerKeyword span:nth-of-type(2n + 1) {
  color: var(--textBlue);
  background-color: #DFF5F8;
}
.innerKeyword span:nth-of-type(2n) {
  color: #CEAF78;
  background-color: #FAF7F2;
}

.link-wrap a {
  display: block;
  color: var(--textColor);
  border-bottom: 1.5px solid #EBE7E0;
  padding: 15px 15px 15px 0;
  position: relative;
  width: 382px;
  transition: 0.3s;
}
.link-wrap a::before {
  content: "";
  background: url(../media/images/arw-brown.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 6px;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
  position: absolute;
  transition: 0.3s;
}
.link-wrap a:hover {
  color: var(--textBlue);
}
.link-wrap a:hover::before {
  background: url(../media/images/arw-blue.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.feature {
  padding: 206px 0 96px;
  background-image: url(../media/top_images/bg-feature.png);
  background-position: center;
  background-size: cover;
  margin-top: -130px;
}

.featureItem-wrap {
  margin: 30px 0 100px;
}

.feature-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-item .img-area {
  width: 40.81%;
}
.feature-item .txt-area {
  width: 55.91%;
}
.feature-item .num {
  margin-bottom: 5px;
}
.feature-item .ttl {
  font-size: 20px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.feature-item:nth-of-type(2n + 1) {
  padding-right: 10%;
}
.feature-item:nth-of-type(2n) {
  padding-left: 10%;
  flex-direction: row-reverse;
}

.movie {
  padding: 64px 60px;
  text-align: center;
}
.movie .ttl {
  font-size: 20px;
  text-align: center;
  position: relative;
  padding: 0 30px;
  display: inline-block;
  margin-bottom: 15px;
}
.movie .ttl::before {
  content: "";
  background: var(--textBlue);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
.movie .ttl::after {
  content: "";
  background: var(--textBlue);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.movie .movieBanner {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
}

#clickCalendar {
  position: fixed;
  right: -1063.3px;
  bottom: 50px;
  max-width: 1100px;
  width: 100%;
  z-index: 100;
  transition: all 0.6s;
}
#clickCalendar.panelactive {
  right: 0;
}
#clickCalendar .clickArea {
  display: flex;
}
#clickCalendar dt {
  background-image: linear-gradient(to bottom, #FF988E, #FFB5AE);
  width: 30px;
  padding: 0 6px 0 8px;
  border-radius: 15px 0 0 15px;
  position: relative;
  cursor: pointer;
}
#clickCalendar dt::before {
  content: "";
  background: url(../media/images/click-left.png);
  background-size: contain;
  width: 18px;
  height: 18px;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  transition: 0.6s;
}
#clickCalendar dt.active::before {
  transform: rotate(180deg);
}
#clickCalendar dt img {
  margin-top: 40px;
}
#clickCalendar dd {
  background: #ffffff;
  padding: 15px 15px 20px;
}
#clickCalendar dd .calendar-block {
  gap: 10px;
  justify-content: normal;
}
#clickCalendar dd .calendar-block .calendar-item {
  width: calc(100% - 6.6666666667px);
}
#clickCalendar dd .calendar-table .name {
  font-size: 15px;
  border-radius: 5px;
  padding: 0px;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.calendar-block {
  display: flex;
  justify-content: space-between;
}

.calendar-item {
  width: 31.82%;
}
.calendar-item .notes {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 14px;
}

.calendar-table {
  background: #FAF7F2;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  padding-bottom: 20px;
}
.calendar-table .name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  letter-spacing: 7px;
  margin-bottom: 15px;
}
.calendar-table table {
  width: 100%;
}
.calendar-table table th {
  vertical-align: middle;
  text-align: left;
  padding-left: 5px;
  width: 30px;
}
.calendar-table table td {
  text-align: center;
  padding: 10px 3px;
}
.calendar-table table tr:not(:last-of-type):not(:first-of-type) {
  border-bottom: 2px dashed #D1CDC6;
}
.calendar-table table .closed {
  position: relative;
}
.calendar-table table .closed::before {
  content: "";
  background: #595553;
  width: 10px;
  height: 2px;
  border-radius: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.gynecology-table .name {
  background-image: linear-gradient(to right, #FFB5AE, #FF988E);
}

.gastroenterology-table .name {
  background-image: linear-gradient(to right, #5DC1CF, #49B3CB);
}

.breastsurgery-table .name {
  background-image: linear-gradient(to right, #FFB5AE, #FF988E);
}

.menu {
  padding: 96px 0;
  background: url(../media/top_images/bg-menu.png);
  background-position: center bottom;
  background-size: cover;
}
.menu .ttl-area {
  display: flex;
  gap: 80px;
}

.tab-content-wrap {
  margin: 40px 0;
}

.tab-list {
  display: flex;
  gap: 3px;
  margin-bottom: 5px;
}
.tab-list .tab-item {
  width: 220px;
  background-color: #ffffff;
  color: var(--textBlue);
  padding: 15px;
  border-radius: 15px 15px 0 0;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s all;
}
.tab-list .tab-item p {
  line-height: 1;
}
.tab-list .tab-item p:first-child {
  font-size: 14px;
  margin-bottom: 5px;
}
.tab-list .tab-item p:last-child {
  font-size: 18px;
}
.tab-list .tab-item:hover {
  background-color: none;
  background-image: linear-gradient(to right, #FFCEC9, #FFC8C3);
  color: #ffffff;
}
.tab-list .tab-item.active {
  background-color: none;
  background-image: linear-gradient(to right, #FFCEC9, #FFC8C3);
  color: #ffffff;
}

.panel-content-area {
  background-image: linear-gradient(to right, #FFCEC9, #FFC8C3);
  border-radius: 0 10px 10px 10px;
  padding: 40px 48px;
  height: 257px;
}

.panel-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 8px;
}

.panel-list {
  display: none;
}
.panel-list.show {
  display: grid;
}

.panel-item {
  display: block;
  background: #ffffff;
  border-radius: 5px;
  position: relative;
  color: var(--textBlue);
  font-size: 20px;
  padding: 0px 16px;
  height: 120px;
  display: flex;
  transition: 0.3s all;
}
.panel-item::before {
  content: "";
  background: url(../media/top_images/menu_arw.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  height: 4px;
  bottom: 10px;
  right: 10px;
  position: absolute;
  transition: 0.3s;
}
.panel-item:hover {
  background: var(--textBlue);
  color: #ffffff;
}
.panel-item:hover::before {
  background: url(../media/top_images/menu_arw-w.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.panel-item .inner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.panel-item .inner .img-area {
  width: 70px;
}

.innerview-panel {
  color: var(--textColor);
  font-size: 24px;
  padding: 0 60px 0 150px;
  height: 200px;
}
.innerview-panel::before {
  background: url(../media/top_images/menu_arw.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 26px;
  height: 6px;
  z-index: 2;
}
.innerview-panel::after {
  content: "";
  background: url(../media/top_images/menu-inner-view.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 284px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 13%;
  z-index: 1;
}
.innerview-panel .title {
  line-height: 1.5;
  margin-bottom: 12px;
  -webkit-text-stroke: 4px #ffffff;
  text-stroke: 4px #ffffff;
  paint-order: stroke;
}
.innerview-panel .title span {
  color: var(--textBlue);
  transition: 0.3s;
}
.innerview-panel .inner {
  position: relative;
  z-index: 3;
}
.innerview-panel:hover {
  color: var(--textColor);
}
.innerview-panel:hover .title span {
  color: #ffffff;
}

section.banner-block {
  background: #DFF5F8;
  padding: 90px 0;
}
section.banner-block .bnrWrap {
  display: flex;
  justify-content: center;
  gap: 10px;
}
section.banner-block .bnrWrap a {
  display: block;
  width: 380px;
}

section.topics {
  padding: 90px 0;
}

.topicsWrap {
  margin: 40px 0 50px;
}

.topics-tab-wrap {
  display: flex;
}
.topics-tab-wrap .topics-tab {
  width: 50%;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  padding: 15px 0;
}

.news-tab {
  color: #5DC1CF;
  border: 2px solid #5DC1CF;
  border-radius: 10px 0 0 10px;
  transition: 0.3s all;
}
.news-tab::before {
  content: "";
  background: url(../media/top_images/newstab-icon.png);
  background-size: contain;
  width: 24px;
  height: 24px;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
  position: absolute;
}
.news-tab:hover {
  background: #5DC1CF;
  color: #ffffff;
}
.news-tab:hover::before {
  content: none;
}
.news-tab.active {
  background: #5DC1CF;
  color: #ffffff;
}
.news-tab.active::before {
  content: none;
}
.news-tab.active::after {
  content: "";
  background: url(../media/top_images/Rectangle.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 16px;
  bottom: -15px;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

.column-tab {
  color: #CEAF78;
  border: 2px solid #CEAF78;
  border-radius: 0 10px 10px 0;
  transition: 0.3s all;
}
.column-tab::before {
  content: "";
  background: url(../media/top_images/columntab_icon.png);
  background-size: contain;
  width: 24px;
  height: 24px;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
  position: absolute;
}
.column-tab:hover {
  background: #CEAF78;
  color: #ffffff;
}
.column-tab:hover::before {
  content: none;
}
.column-tab.active {
  background: #CEAF78;
  color: #ffffff;
}
.column-tab.active::before {
  content: none;
}
.column-tab.active::after {
  content: "";
  background: url(../media/top_images/Rectangle-b.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 16px;
  bottom: -15px;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

.topics-container {
  margin-top: 40px;
  padding: 0 65px;
}

.topics-lists {
  display: none;
}
.topics-lists.show {
  display: block;
}
.topics-lists li:not(:last-child) {
  border-bottom: 2px dashed #D1CDC6;
}
.topics-lists li a {
  padding: 20px 0;
  display: flex;
  gap: 15px;
  color: #595553;
}
.topics-lists li .date {
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
  width: 80px;
  text-align: center;
  height: 18px;
  padding: 5px 7px;
  border-radius: 3px;
}
.topics-lists li .topics-ttl {
  line-height: 1.5;
  position: relative;
}

.news-lists .date {
  background: #5DC1CF;
}

.column-lists .date {
  background: #CEAF78;
}

.topicsTxt-icon {
  transform: translateY(5px);
}

.front-slider-area {
  margin-top: 95px;
}

.front-slider-area {
  display: flex;
  overflow: hidden;
}

.slider-group {
  animation: scroll-left 50s infinite linear 0.5s both;
  padding: 0 30px;
}
.slider-group li {
  width: 3000px;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
section.information {
  background-image: linear-gradient(to right, #DFF5F8, #ABE2F1);
  padding: 40px;
}
section.information .content-wrap {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 65px;
}

.info-container .access-block {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}
.info-container .access-block .txt-area {
  width: 27.88%;
}
.info-container .access-block .txt-area .hospitalName {
  color: var(--textBlue);
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 6px;
}
.info-container .access-block .txt-area .detail p {
  font-size: 15px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 3px;
}
.info-container .access-block .txt-area .detail p:nth-child(1)::before {
  content: "";
  background: url(../media/top_images/map_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 16px;
  top: 5px;
  left: 0;
  position: absolute;
}
.info-container .access-block .txt-area .detail p:nth-child(2)::before {
  content: "";
  background: url(../media/top_images/train_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 16px;
  top: 5px;
  left: 0;
  position: absolute;
}
.info-container .access-block .txt-area .detail p:nth-child(3)::before {
  content: "";
  background: url(../media/top_images/tel_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 16px;
  top: 5px;
  left: 0;
  position: absolute;
}
.info-container .access-block .txt-area .detail p:nth-child(4)::before {
  content: "";
  background: url(../media/top_images/mail_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 12px;
  top: 5px;
  left: 0;
  position: absolute;
}
.info-container .access-block .txt-area .detail p:nth-child(4)::before {
  content: "";
  background: url(../media/top_images/close_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 14px;
  top: 5px;
  left: 0;
  position: absolute;
}
.info-container .access-block .map-area {
  width: 66.92%;
}
.info-container .access-block .map-area iframe {
  width: 100%;
  height: 100%;
}

.sp-clickCalendar {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 38.66px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #FFB5AE, #FF988E);
  z-index: 90;
  text-align: center;
  transition: 0.3s all;
}
.sp-clickCalendar span {
  font-size: 14px;
  color: #ffffff;
  margin-top: 30px;
  line-height: 1.2;
  display: block;
}
.sp-clickCalendar .inner {
  position: relative;
}
.sp-clickCalendar .inner::before {
  content: "";
  background: url(../media/images/calendar_icon.png);
  background-size: contain;
  width: 24px;
  height: 24px;
  bottom: -33px;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

#clickCalendar {
  position: fixed;
  right: -1063.3px;
  bottom: 50px;
  max-width: 1100px;
  width: 100%;
  z-index: 100;
  transition: all 0.6s;
}
#clickCalendar.panelactive {
  right: 0;
}
#clickCalendar .clickArea {
  display: flex;
}
#clickCalendar dt {
  background-image: linear-gradient(to bottom, #FF988E, #FFB5AE);
  width: 30px;
  padding: 0 6px 0 8px;
  border-radius: 15px 0 0 15px;
  position: relative;
  cursor: pointer;
}
#clickCalendar dt::before {
  content: "";
  background: url(../media/images/click-left.png);
  background-size: contain;
  width: 18px;
  height: 18px;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  transition: 0.6s;
}
#clickCalendar dt.active::before {
  transform: rotate(180deg);
}
#clickCalendar dt img {
  margin-top: 40px;
}
#clickCalendar dd {
  background: #ffffff;
  padding: 15px 15px 20px;
}
#clickCalendar dd .calendar-block {
  gap: 10px;
  justify-content: normal;
}
#clickCalendar dd .calendar-block .calendar-item {
  width: calc(100% - 6.6666666667px);
}
#clickCalendar dd .calendar-table .name {
  font-size: 15px;
  border-radius: 5px;
  padding: 0px;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.calendar-block {
  display: flex;
  justify-content: space-between;
}

.calendar-item {
  width: 31.82%;
}
.calendar-item .notes {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 14px;
}

.calendar-table {
  background: #FAF7F2;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  padding-bottom: 20px;
}
.calendar-table .name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  letter-spacing: 7px;
  margin-bottom: 15px;
}
.calendar-table table {
  width: 100%;
}
.calendar-table table th {
  vertical-align: middle;
  text-align: left;
  padding-left: 5px;
  width: 30px;
}
.calendar-table table td {
  text-align: center;
  padding: 10px 3px;
}
.calendar-table table tr:not(:last-of-type):not(:first-of-type) {
  border-bottom: 2px dashed #D1CDC6;
}
.calendar-table table .closed {
  position: relative;
}
.calendar-table table .closed::before {
  content: "";
  background: #595553;
  width: 10px;
  height: 2px;
  border-radius: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.gynecology-table .name {
  background-image: linear-gradient(to right, #FFB5AE, #FF988E);
}

.gastroenterology-table .name {
  background-image: linear-gradient(to right, #5DC1CF, #49B3CB);
}

.breastsurgery-table .name {
  background-image: linear-gradient(to right, #FFB5AE, #FF988E);
}

.footer-begin {
  height: 96px;
}

.footer-menu-area {
  background-image: linear-gradient(to right, #5DC1CF, #49B3CB);
  padding: 270px 100px 200px;
  margin-top: -220px;
  position: relative;
  z-index: 2;
}
.footer-menu-area nav {
  display: flex;
  justify-content: space-between;
}
.footer-menu-area nav li, .footer-menu-area nav a {
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.footer-menu-area nav a {
  transition: 0.2s;
}
.footer-menu-area nav a:hover {
  filter: opacity(40%);
}
.footer-menu-area nav .menu-ttl {
  font-size: 16px;
}
.footer-menu-area nav .menu-ttl a {
  padding-left: 12px;
  position: relative;
}
.footer-menu-area nav .menu-ttl a::before {
  content: "";
  background: url(../media/top_images/innercircle-w.png);
  width: 8px;
  height: 8px;
  background-size: contain;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  margin: auto;
  position: absolute;
}

.detail-menu li {
  margin-bottom: 10px;
  padding-left: 10px;
}
.detail-menu li:last-child {
  margin-bottom: 15px;
}
.detail-menu li a {
  font-size: 14px;
}

.menu-about {
  width: 23.51%;
}
.menu-about .has-menu {
  margin: 15px 0;
}
.menu-about .menu-ttl:first-of-type {
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}
.menu-about .menu-ttl:last-of-type {
  padding-top: 15px;
  border-top: 1px solid #ffffff;
}

.medicalMenu-item .medicalMenu-ttl {
  display: inline-block;
  padding-right: 8px;
  padding-left: 10px;
  position: relative;
  z-index: 2;
}
.medicalMenu-item .medicalMenu-ttl::before {
  content: "";
  background: url(../media/top_images/ring_icon.png);
  width: 4px;
  height: 4px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-size: contain;
  position: absolute;
}

.medicalMenu-wrapper {
  display: flex;
  gap: 15px;
}
.medicalMenu-wrapper .itemWrap01 {
  width: 50%;
}
.medicalMenu-wrapper .itemWrap01 .medicalMenu-ttl:nth-of-type(1) {
  background-color: #56BCCE;
}
.medicalMenu-wrapper .itemWrap02 {
  width: 50%;
}
.medicalMenu-wrapper .itemWrap02 .medicalMenu-ttl:nth-of-type(1) {
  background-color: #52B9CD;
}
.medicalMenu-wrapper .itemWrap02 .medicalMenu-ttl:nth-of-type(2) {
  background-color: #53BACD;
}
.medicalMenu-wrapper .itemWrap02 .medicalMenu-ttl:nth-of-type(3) {
  background-color: #52B9CD;
}

.menu-treatment {
  width: 47.03%;
}
.menu-treatment .menu-ttl {
  margin-bottom: 15px;
}

.ttl-line {
  display: block;
  transform: translateY(-16px);
  position: relative;
  z-index: 1;
}
.ttl-line::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu-others {
  width: 23.51%;
}
.menu-others .menu-ttl {
  margin-bottom: 15px;
}
.menu-others .menu-ttl:nth-of-type(2) {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 15px 0;
}

.footer-access-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.footer-access-area .footer-logo {
  width: 30%;
}
.footer-access-area .detai-access {
  width: 65%;
  color: #ffffff;
}
.footer-access-area .detai-access p:first-of-type {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 13px;
}
.footer-access-area .detai-access p:not(:first-of-type) {
  margin-bottom: 10px;
}
.footer-access-area .detai-access p:not(:first-of-type) span {
  font-size: 15px;
  padding-right: 12px;
}
.footer-access-area .detai-access p:not(:first-of-type) img {
  padding-right: 5px;
  transform: translateY(2px);
}

.footer-banner-wrap {
  padding: 0 47px;
  max-width: 986px;
  margin-bottom: 80px;
}
.footer-banner-wrap a {
  transition: 0.2s;
}
.footer-banner-wrap a:hover {
  filter: opacity(40%);
}
.footer-banner-wrap div {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}
.footer-banner-wrap div:first-of-type a:nth-of-type(1) {
  width: 36.51%;
}
.footer-banner-wrap div:first-of-type a:nth-of-type(2) {
  width: 45.61%;
}
.footer-banner-wrap div:first-of-type a:nth-of-type(3) {
  width: 14.6%;
}
.footer-banner-wrap div:last-of-type {
  justify-content: center;
}
.footer-banner-wrap div:last-of-type a {
  width: 38.53%;
}

small {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background: rgba(93, 194, 207, 0.5764705882);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1000;
  transition: 0.3s;
}
.modal-overlay.is-active {
  display: block;
}

.pop-container {
  background-color: #DFF5F8;
  margin: 20px auto;
  width: 90%;
  padding: 20px;
  padding-bottom: 30px;
  position: relative;
  box-sizing: border-box;
}
.pop-container .close-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.pop-container .content {
  margin-top: 50px;
}
.pop-container .content .first-txt {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  #clickCalendar {
    display: none;
  }
  .sp-clickCalendar {
    display: block;
  }
  .panel-content-area {
    height: 377px;
  }
  .panel-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .innerview-panel {
    padding: 0 60px 0 60px;
  }
  .innerview-panel::after {
    background: url(../media/top_images/menu-innerview-sp.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 239px;
    top: 0;
    right: 0;
  }
  section.information .calendar-block {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1%;
  }
  section.information .calendar-item {
    width: 49%;
  }
  section.information .calendar-item:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .footer-contact {
    transform: translateY(-100px);
  }
  .footer-contact .inner {
    flex-direction: column;
  }
  .footer-contact .inner .txt-area {
    text-align: center;
  }
  .footer-contact .inner .txt-area p:first-child {
    font-size: 24px;
    margin-bottom: 0px;
  }
  .footer-contact .inner .contact-area {
    width: 100%;
  }
  .footer-menu-area {
    margin-top: -300px;
    padding: 350px 50px 200px;
  }
}
@media screen and (max-width: 1000px) {
  .pop-container .content .calendar-block {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1%;
  }
  .pop-container .content .calendar-block .calendar-item {
    width: 49%;
  }
  .pop-container .content .calendar-block .calendar-item:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  #sp-nav {
    padding: 18px 10px 20px;
  }
  #sp-nav .nav-header {
    margin: 0 20px 20px;
  }
  #sp-nav nav {
    flex-direction: column;
  }
  .c-content-wrap {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;
  }
  .mainTtl-wrap {
    top: 45%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translate(0, 0);
    padding: 0 10px;
  }
  .keyword span {
    font-size: 15px;
  }
  h1 p:first-of-type {
    font-size: 26px;
  }
  h1 p:first-of-type span {
    font-size: 22px;
  }
  h1 p:last-of-type {
    font-size: 18px;
  }
  .secTtl-wrap h2 {
    font-size: 26px;
    line-height: 1.3;
  }
  .introduction::before {
    background-position: left 40% top 0%;
    height: 60%;
  }
  .introduction .intro-area {
    width: auto;
    padding: 0 24px 60%;
  }
  .detail-inner {
    padding: 50px 24px;
  }
  .detail-inner .inner {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .detail-inner .inner .inner-txt-area {
    width: 100%;
  }
  .detail-inner .inner .inner-txt-area .detailTxt-area {
    margin: 20px 0 30px;
  }
  .link-wrap a {
    width: 100%;
    color: var(--textBlue);
    box-sizing: border-box;
  }
  .link-wrap a::before {
    background: url(../media/images/arw-blue.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .randomImg01 {
    position: absolute;
    bottom: 0;
    right: 24px;
    width: 60%;
  }
  .randomImg02 {
    position: absolute;
    width: 42%;
    top: -50px;
    right: 0;
    left: 24px;
    z-index: 2;
  }
  .randomImg03 {
    width: 100%;
    position: relative;
    right: -10%;
    top: 0;
    overflow: hidden;
    border-radius: 0px;
  }
  .feature {
    padding: 180px 0 96px;
  }
  .featureItem-wrap {
    margin: 40px 0 70px;
  }
  .feature-item .img-area {
    width: 100%;
    margin-bottom: 20px;
  }
  .feature-item .txt-area {
    width: 100%;
  }
  .feature-item:nth-of-type(2n + 1) {
    flex-direction: column;
    padding-right: 0%;
  }
  .feature-item:nth-of-type(2n) {
    flex-direction: column;
    padding-left: 0%;
  }
  .feature-item:not(:last-child) {
    margin-bottom: 45px;
  }
  .movie {
    padding: 30px 24px;
  }
  .menu .ttl-area {
    justify-content: space-between;
    gap: 0px;
  }
  .menu .ttl-area div:first-child {
    width: 26.37%;
  }
  .menu .ttl-area div:last-child {
    width: 67.36%;
  }
  .tab-list .tab-item {
    padding: 10px 5px;
  }
  .tab-list .tab-item p:last-child {
    font-size: 16px;
  }
  .panel-content-area {
    padding: 24px 16px;
    height: 670px;
  }
  .panel-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .panel-item {
    font-size: 18px;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
  }
  .panel-item .inner {
    flex-direction: column;
  }
  .panel-item .inner p {
    line-height: 1.3;
    text-align: center;
  }
  .innerview-panel {
    justify-content: normal;
    align-items: center;
    padding: 0px 24px;
    height: 250px;
  }
  .innerview-panel .title {
    font-size: 20px !important;
    line-height: 1.5 !important;
  }
  .innerKeyword span {
    margin-bottom: 10px;
    display: inline-block;
  }
  .innerKeyword span:nth-of-type(3) {
    color: #CEAF78;
    background-color: #FAF7F2;
  }
  .innerKeyword span:nth-of-type(4) {
    color: var(--textBlue);
    background-color: #DFF5F8;
  }
  section.banner-block {
    padding: 80px 0;
  }
  section.banner-block .bnrWrap {
    flex-direction: column;
    align-items: center;
  }
  section.topics {
    padding: 80px 0;
  }
  .topics-container {
    margin-top: 20px;
    padding: 0 10px;
  }
  section.information {
    padding: 24px;
  }
  section.information .content-wrap {
    padding: 60px 24px;
  }
  section.information .calendar-block {
    flex-direction: column;
  }
  section.information .calendar-item {
    width: 100%;
  }
  .info-container .access-block {
    flex-direction: column;
  }
  .info-container .access-block .txt-area {
    width: 100%;
    margin-bottom: 20px;
  }
  .info-container .access-block .map-area {
    width: 100%;
    height: 332px;
  }
  .footer-fv img {
    transform: translate(20%, 0%);
  }
  .footer-contact {
    padding: 0 10px;
  }
  .footer-contact .inner {
    gap: 15px;
    align-items: normal;
    padding: 40px 20px;
  }
  .footer-contact .inner .contact-area .wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(1) {
    border-radius: 5px;
    padding: 35px 5px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(1) span {
    font-size: 18px;
    padding-left: 40px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(1) span::before {
    width: 30px;
    height: 30px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(2) {
    border-radius: 5px;
    padding: 35px 5px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(2) span {
    font-size: 18px;
    padding-left: 40px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(2) span::before {
    width: 30px;
    height: 30px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(3) {
    grid-column: span 2/span 2;
    border-radius: 5px;
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(3) span {
    font-size: 15px;
    padding-left: 30px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(3) span::before {
    top: -7px;
    left: -19px;
  }
  .footer-menu-area {
    padding: 550px 24px 200px;
    margin-top: -500px;
  }
  .footer-menu-area nav {
    flex-direction: column;
  }
  .menu-about {
    width: 100%;
    margin-bottom: 15px;
  }
  .menu-about .menu-ttl:last-of-type {
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff;
  }
  .menu-treatment {
    width: 100%;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 15px;
  }
  .menu-others {
    width: 100%;
  }
  .medicalMenu-wrapper {
    flex-direction: column;
  }
  .medicalMenu-wrapper .itemWrap01 {
    width: 100%;
  }
  .medicalMenu-wrapper .itemWrap02 {
    width: 100%;
  }
  .detail-menu li {
    margin-bottom: 15px;
  }
  .ttl-line {
    transform: translateY(-20px);
  }
  .detail-column-area {
    display: flex;
    flex-wrap: wrap;
  }
  .detail-column-area li {
    width: 47%;
  }
  .medicalMenu-item:nth-child(1), .medicalMenu-item:nth-child(2), .medicalMenu-item:nth-child(3) {
    margin-bottom: 10px;
  }
  .footer-access-area {
    align-items: flex-start;
    margin: 30px 0;
    flex-direction: column;
  }
  .footer-access-area .footer-logo {
    width: 70%;
    margin-bottom: 20px;
  }
  .footer-access-area .detai-access {
    width: 100%;
  }
  .footer-access-area .detai-access p:not(:first-of-type) {
    margin-bottom: 0px;
  }
  .footer-banner-wrap {
    padding: 0 0px;
  }
  .footer-banner-wrap div {
    flex-direction: column;
  }
  .footer-banner-wrap div:first-of-type a:nth-of-type(1) {
    width: 100%;
  }
  .footer-banner-wrap div:first-of-type a:nth-of-type(2) {
    width: 100%;
  }
  .footer-banner-wrap div:last-of-type a {
    width: 100%;
  }
  .footer-banner-wrap div:last-of-type a:last-of-type {
    width: 40%;
    margin-left: auto;
  }
  small {
    font-size: 12px;
  }
  .pop-container {
    margin: 24px;
    width: auto;
  }
  .pop-container .content .calendar-block {
    flex-direction: column;
  }
  .pop-container .content .calendar-block .calendar-item {
    width: 100%;
  }
  .pop-container .content .calendar-block .calendar-item:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 520px) {
  .c-btn {
    width: 100%;
  }
  section.banner-block .bnrWrap a {
    width: 100%;
  }
  .sp-clickCalendar {
    right: 20px;
  }
  .introduction .secTtl-wrap h2 {
    font-size: 20px;
    line-height: 1.3;
  }
  .randomImg02 {
    top: -40px;
  }
  .secTtl-wrap h2 {
    font-size: 23px;
    line-height: 1.2;
  }
  .menu .ttl-area div:first-child {
    width: 30.37%;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(1) span {
    font-size: 15px;
    padding-left: 31px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(1) span::before {
    width: 25px;
    height: 25px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(2) span {
    font-size: 15px;
    padding-left: 31px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(2) span::before {
    width: 25px;
    height: 25px;
  }
  .footer-contact .inner .txt-area p:first-child {
    font-size: 22px;
  }
  h1 p:first-of-type {
    font-size: 22px;
    margin: 10px 0 12px;
  }
  h1 p:first-of-type span {
    font-size: 18px;
    padding: 0 3px;
  }
  h1 p:last-of-type {
    font-size: 15px;
  }
  .mainLogo {
    margin: 25px auto 0;
  }
  .keyword span {
    padding: 1px 5px;
    font-size: 12px;
  }
  .inner-txt-area .ttl {
    font-size: 22px;
  }
}/*# sourceMappingURL=home.css.map */