@charset "UTF-8";
:root {
  --textColor:#595553;
  --textBlue:#2BB9CD;
  --textPink:#F8887D;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

body {
  font-family: "Zen Maru Gothic", serif;
  color: var(--textColor);
  font-weight: 600;
  letter-spacing: 1px;
}

p {
  line-height: 1.7;
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

.c-hover {
  transition: 0.2s;
}
.c-hover:hover {
  filter: opacity(40%);
}

.dotsTxt {
  background-image: radial-gradient(circle at center, var(--textPink) 20%, transparent 20%);
  background-position: top right;
  background-repeat: repeat-x;
  background-size: 1em 0.2em;
  padding-top: 0.2em;
}

.pinkTxt {
  color: var(--textPink) !important;
}

.blueTxt {
  color: var(--textBlue) !important;
}

.dotBobder {
  border-bottom: 4px dotted var(--textColor);
  padding-bottom: 15px;
}

.ttl-wrap {
  margin: 0 auto 30px;
  text-align: center;
}

.fukidashiTtl .fukidashi {
  font-size: 18px;
  background-color: #FFCEC9;
  padding: 5px 20px;
  border-radius: 30px;
  position: relative;
}
.fukidashiTtl .fukidashi::before {
  content: "";
  background: url(../media/images/tabFukidashi01.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 14px;
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  margin: auto;
}
.fukidashiTtl h2 {
  margin-top: 30px;
}

.num {
  color: var(--textPink);
  display: inline-block;
  margin-right: 5px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}
h2 .strong {
  font-size: 38px;
}

header {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 32px 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}
header .header-logo {
  width: 201px;
  height: 62px;
  display: block;
}

.fv {
  width: 100%;
  height: 100vh;
  position: relative;
}
.fv::before {
  content: "";
  background: url(../media/images/fv-pcImg.png);
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center right;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 80px;
}

.lp-title-area {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lp-titleWrap {
  color: var(--textPink);
  text-align: center;
}
.lp-titleWrap h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.5;
  letter-spacing: 4px;
}
.lp-titleWrap .sab-ttl {
  margin-bottom: 25px;
}
.lp-titleWrap .smile-logo {
  width: 120px;
  height: 15px;
  margin: 0 auto;
}

.containerWrap {
  padding: 40px;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

.numTtl {
  font-size: 20px;
  border-bottom: 1px solid #D1CDC6;
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.pinkDot-txt {
  padding-left: 20px;
  position: relative;
  font-size: 18px;
  margin-bottom: 10px;
}
.pinkDot-txt::before {
  content: "";
  background: var(--textPink);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: 5px;
  left: 0px;
  position: absolute;
}
.pinkDot-txt + p {
  padding-left: 20px;
}

.tab-item-wrap {
  max-width: 1120px;
  margin: 30px auto 60px;
  display: flex;
  justify-content: space-between;
}
.tab-item-wrap .tab-item {
  width: 23.92%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.tab-item-wrap .tab-item .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.tab-item-wrap .tab-item p {
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
}
.tab-item-wrap .tab-item span {
  font-size: 15px;
}
.tab-item-wrap .tab-item .tabArw {
  width: 24px;
  height: 24px;
  position: relative;
}
.tab-item-wrap .tab-item .tabArw img:last-child {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.tab-item01 {
  background-image: linear-gradient(to right, #FFBDB6, #FC9990);
}
.tab-item01::before {
  content: "";
  background: url(../media/images/tabFukidashi01.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 14px;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.tab-item01:hover, .tab-item01.active {
  background-image: none;
  background-color: #FFF4F2;
  color: #F8887D;
}
.tab-item01:hover::before, .tab-item01.active::before {
  content: "";
  background: url(../media/images/tabFukidashi01_h.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 14px;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.tab-item01:hover .tabArw img:first-child, .tab-item01.active .tabArw img:first-child {
  display: none;
}
.tab-item01:hover .tabArw img:last-child, .tab-item01.active .tabArw img:last-child {
  display: block;
}

.tab-item02 {
  background-image: linear-gradient(to right, #71D0DD, #30BBDA);
}
.tab-item02::before {
  content: "";
  background: url(../media/images/tabFukidashi02.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 14px;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.tab-item02:hover, .tab-item02.active {
  background-image: none;
  background-color: #DFF5F8;
  color: #2BB9CD;
}
.tab-item02:hover::before, .tab-item02.active::before {
  content: "";
  background: url(../media/images/tabFukidashi02_h.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 14px;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.tab-item02:hover .tabArw img:first-child, .tab-item02.active .tabArw img:first-child {
  display: none;
}
.tab-item02:hover .tabArw img:last-child, .tab-item02.active .tabArw img:last-child {
  display: block;
}

.tab-item03 {
  background-image: linear-gradient(to right, #71D0DD, #30BBDA);
}
.tab-item03::before {
  content: "";
  background: url(../media/images/tabFukidashi02.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 14px;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.tab-item03:hover, .tab-item03.active {
  background-image: none;
  background-color: #DFF5F8;
  color: #2BB9CD;
}
.tab-item03:hover::before, .tab-item03.active::before {
  content: "";
  background: url(../media/images/tabFukidashi02_h.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 14px;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.tab-item03:hover .tabArw img:first-child, .tab-item03.active .tabArw img:first-child {
  display: none;
}
.tab-item03:hover .tabArw img:last-child, .tab-item03.active .tabArw img:last-child {
  display: block;
}

.tab-item04 {
  background-image: linear-gradient(to right, #D8BA88, #DAAA54);
}
.tab-item04::before {
  content: "";
  background: url(../media/images/tabFukidashi04.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 14px;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.tab-item04:hover, .tab-item04.active {
  background-image: none;
  background-color: #FAF7F2;
  color: #D9B26E;
}
.tab-item04:hover::before, .tab-item04.active::before {
  content: "";
  background: url(../media/images/tabFukidashi04_h.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 14px;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.tab-item04:hover .tabArw img:first-child, .tab-item04.active .tabArw img:first-child {
  display: none;
}
.tab-item04:hover .tabArw img:last-child, .tab-item04.active .tabArw img:last-child {
  display: block;
}

.panel-content {
  display: none;
}
.panel-content.show {
  display: block;
}

.panel-heading-inner {
  padding: 70px 40px 140px;
  position: relative;
  z-index: 2;
}

.panel-heading {
  position: relative;
}
.panel-heading .ttl-block {
  text-align: center;
  margin-bottom: 70px;
}
.panel-heading .ttl-block .sab-ttl {
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.panel-heading .ttl-block h2 {
  font-size: 40px;
  font-weight: bold;
}
.panel-heading .ttl-block h2 + p {
  font-size: 24px;
  margin-top: 10px;
}
.panel-heading .description-block {
  background: #fff;
  padding: 45px 40px;
  border-radius: 30px;
  box-shadow: 20px 20px 20px 0px rgba(104, 82, 78, 0.1176470588);
  position: relative;
}
.panel-heading .description-block::before {
  content: "";
  background: url(../media/images/panel01_person01.png) no-repeat;
  background-size: contain;
  width: 240px;
  height: 176px;
  position: absolute;
  top: -177px;
  right: 50px;
}
.panel-heading .description-block .inner {
  display: flex;
  justify-content: space-between;
}
.panel-heading .description-block .inner .description-ttl-wrap {
  width: 39.23%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.panel-heading .description-block .inner .description-ttl-wrap .img-area {
  width: 120px;
}
.panel-heading .description-block .inner .description-ttl-wrap p {
  width: calc(100% - 130px);
  font-size: 32px;
}
.panel-heading .description-block .inner .description-detail-wrap {
  width: 57.69%;
}
.panel-heading .description-block .inner .description-detail-wrap p {
  -webkit-text-decoration: underline dashed #D1CDC6;
          text-decoration: underline dashed #D1CDC6;
  text-underline-offset: 11px;
  line-height: 3;
}
.panel-heading .gridItem-block {
  margin-top: 70px;
}
.panel-heading .gridItem-block .ttl-wrap .inner {
  display: inline-block;
  position: relative;
}
.panel-heading .gridItem-block .ttl-wrap .inner::before {
  content: "";
  background: url(../media/images/txtDeco01.png) no-repeat;
  background-size: contain;
  width: 28px;
  height: 33px;
  top: 0;
  left: -38px;
  position: absolute;
}
.panel-heading .gridItem-block .ttl-wrap .inner::after {
  content: "";
  background: url(../media/images/txtDeco02.png) no-repeat;
  background-size: contain;
  width: 28px;
  height: 33px;
  top: 0;
  right: -38px;
  position: absolute;
}
.panel-heading .gridItem-block .gridItem-wrap {
  display: grid;
  max-width: 944px;
  margin: 0 auto;
}
.panel-heading .gridItem-block .gridItem {
  border-radius: 20px;
}
.panel-heading .gridItem-block .gridItem dt {
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px 20px 0 0;
  text-align: center;
  padding: 10px 0;
}
.panel-heading .gridItem-block .gridItem dd {
  padding: 15px 28px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  border-top: none;
}
.panel-heading .gridItem-block .gridItem dd .inner {
  display: flex;
  gap: 25px;
  align-items: center;
}
.panel-heading .gridItem-block .gridItem dd .inner .img-area {
  width: 100px;
}
.panel-heading .gridItem-block .gridItem dd .inner .txt-area {
  width: calc(100% - 125px);
}

.panel01-heading {
  background-color: #FFEFEC;
}
.panel01-heading::before {
  content: "";
  background: url(../media/images/panel01_bg01.png) no-repeat;
  background-size: contain;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.panel01-heading::after {
  content: "";
  background: url(../media/images/panel01_bg02.png) no-repeat;
  background-size: contain;
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.panel01-heading .panel-heading-inner::before {
  content: "";
  background: url(../media/images/panel01_bottombg.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 96px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.panel01-heading .gridItem-wrap {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}
.panel01-heading .gridItem dt {
  background-color: #FFCEC9;
}
.panel01-heading .gridItem dd {
  border: 4px solid #FFCEC9;
}

.panel-mainContent {
  padding: 70px 40px;
}

.panel01-mainContent {
  background-color: #FFFAF9;
}
.panel01-mainContent .diagnosis-item-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
}
.panel01-mainContent .diagnosis-item-wrap .diagnosis-item {
  background-color: #fff;
  border: 4px solid #FFEFEC;
  border-radius: 20px;
  padding: 20px;
}
.panel01-mainContent .diagnosis-item-wrap .diagnosis-item .numTtl::before {
  content: "";
  background: url(../media/images/memphis-pink.png) no-repeat;
  background-size: contain;
  width: 72px;
  height: 75px;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -1;
}
.panel01-mainContent .diagnosis-item-wrap .diagnosis-item01 {
  grid-row: span 3/span 3;
}
.panel01-mainContent .diagnosis-item-wrap .diagnosis-item01 .img-area {
  margin-bottom: 20px;
  height: 50%;
}
.panel01-mainContent .diagnosis-item-wrap .diagnosis-item01 .img-area img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.panel01-mainContent .diagnosis-item-wrap .diagnosis-item01 ul:first-child {
  margin-bottom: 30px;
}
.panel01-mainContent .diagnosis-item-wrap .diagnosis-item03 {
  grid-column-start: 2;
}
.panel01-mainContent .diagnosis-item-wrap .diagnosis-item04 {
  grid-column-start: 2;
  grid-row-start: 3;
}
.panel01-mainContent .diagnosis-item-wrap .diagnosis-item05 {
  grid-column: span 2/span 2;
  grid-row-start: 4;
  padding: 30px;
}
.panel01-mainContent .diagnosis-item-wrap .diagnosis-item05 .numTtl::before {
  left: -30px;
}
.panel01-mainContent .diagnosis-item-wrap .diagnosis-item05 .inner {
  display: flex;
  gap: 30px;
}
.panel01-mainContent .diagnosis-item-wrap .diagnosis-item05 .inner ul {
  width: 50%;
}
.panel01-mainContent .treatment-block {
  margin-top: 70px;
}
.panel01-mainContent .treatment-block .dotBobder {
  width: 376px;
}
.panel01-mainContent .treatment-block .treatment-item-wrap {
  display: flex;
  gap: 15px;
}
.panel01-mainContent .treatment-block .treatment-item-wrap .treatment-item {
  width: 25%;
}
.panel01-mainContent .treatment-block .treatment-item-wrap .treatment-item .img-area {
  position: relative;
  margin-bottom: 20px;
}
.panel01-mainContent .treatment-block .treatment-item-wrap .treatment-item:nth-of-type(1) .img-area::before {
  content: "";
  background: url(../media/images/pinkNum01.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  left: 10px;
}
.panel01-mainContent .treatment-block .treatment-item-wrap .treatment-item:nth-of-type(2) .img-area::before {
  content: "";
  background: url(../media/images/pinkNum02.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  left: 10px;
}
.panel01-mainContent .treatment-block .treatment-item-wrap .treatment-item:nth-of-type(3) .img-area::before {
  content: "";
  background: url(../media/images/pinkNum03.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  left: 10px;
}
.panel01-mainContent .treatment-block .treatment-item-wrap .treatment-item:nth-of-type(4) .img-area::before {
  content: "";
  background: url(../media/images/pinkNum04.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  left: 10px;
}

.panel-closing {
  padding: 55px 40px;
  position: relative;
}

.recomend-block {
  background: #fff;
  box-shadow: 20px 20px 20px 0px rgba(104, 82, 78, 0.1176470588);
  padding: 32px 50px;
  max-width: 944px;
  margin: 0 auto;
  border-radius: 20px;
}
.recomend-block .ttl-area {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 500px;
  border-radius: 10px;
  margin: 0 auto;
}
.recomend-block ul {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 25px;
}
.recomend-block ul li {
  width: 48%;
  padding: 10px 0;
  border-bottom: 1px dashed #D1CDC6;
  margin-bottom: 0px;
}
.recomend-block ul li p {
  margin-bottom: 0px;
}
.recomend-block ul li p::before {
  top: 10px;
}
.recomend-block ul li:last-child {
  border-bottom: none;
}

.panel01-closing {
  background-image: url(../media/images/panel01_footerBg.png);
  background-size: cover;
}
.panel01-closing::before {
  content: "";
  background: url(../media/images/panel01_person02.png) no-repeat;
  background-size: contain;
  width: 145px;
  height: 159px;
  position: absolute;
  bottom: 0;
  left: 10px;
}
.panel01-closing::after {
  content: "";
  background: url(../media/images/panel01_person03.png) no-repeat;
  background-size: contain;
  width: 127px;
  height: 144px;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.panel01-closing .ttl-area {
  background-color: var(--textPink);
}

.float-contactBtn {
  width: 556px;
  border-radius: 20px;
  border: 4px solid #fff;
  background-color: #FFF4F2;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
.float-contactBtn p:first-child {
  text-align: center;
}
.float-contactBtn .contact-btn-wrap {
  margin-top: 10px;
}

.commonContent-block {
  padding: 70px 0;
}

.graph-block {
  max-width: 850px;
  margin: 0 auto 70px;
  display: flex;
  justify-content: space-between;
}
.graph-block .graph-area {
  width: 50.11%;
}
.graph-block .graph-detail-area {
  width: 44.23%;
}
.graph-block .graph-detail-area .ttl-wrap {
  text-align: left;
}
.graph-block .graph-detail-area .tableWrap {
  display: flex;
  gap: 50px;
  padding-left: 20px;
  margin-top: 20px;
}
.graph-block .graph-detail-area .tableWrap table {
  border-spacing: 0 20px; /* 横 縦 の順で間隔を指定 */
  border-collapse: separate; /* これが重要 */
}
.graph-block .graph-detail-area .tableWrap table td:first-child {
  padding-right: 10px;
}
.graph-block .noteTxt {
  font-size: 12px;
}

.feature-block {
  margin-bottom: 70px;
  position: relative;
}
.feature-block::before {
  content: "";
  background: url(../media/images/c-content_person01.png) no-repeat;
  background-size: contain;
  width: 322px;
  height: 182px;
  position: absolute;
  top: -63px;
  right: 0;
}

.feature-item-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.feature-item {
  border: 5px solid #FFEFEC;
  background-color: #FFFAF9;
  padding: 25px 40px;
  border-radius: 20px;
  position: relative;
}
.feature-item::before {
  content: "";
  background: url(../media/images/memphis-pink.png) no-repeat;
  background-size: contain;
  width: 72px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.feature-item dt {
  font-size: 20px;
  border-bottom: 1px solid #D1CDC6;
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}
.feature-item dt span {
  color: var(--textPink);
}
.feature-item dd {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.feature-item dd .img-area {
  width: 35.59%;
}
.feature-item dd .txt-area {
  width: 61.01%;
}

.price-block {
  margin-bottom: 70px;
}
.price-block .ttl-wrap {
  width: 376px;
}
.price-block .noteTxt {
  color: var(--textPink);
}

.priceContent-wrap {
  max-width: 1008px;
  margin: 0 auto;
}

.price-table-wrap p {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.price-table-wrap p::before {
  content: "";
  width: 18px;
  height: 18px;
  background: var(--textBlue);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
}
.price-table-wrap ul {
  display: flex;
  padding: 0 45px;
  background-color: var(--textBlue);
}
.price-table-wrap ul li {
  padding: 15px 0;
  color: #ffffff;
}
.price-table-wrap ul li:first-of-type {
  width: 77.67%;
  text-align: center;
  letter-spacing: 16px;
}
.price-table-wrap ul li:last-of-type {
  width: 22.32%;
  text-align: center;
}
.price-table-wrap .price-table {
  background-color: #ffffff;
  padding: 30px 45px 35px;
}
.price-table-wrap .price-table dl {
  border-bottom: 2px dashed #D1CDC6;
  padding: 10px 0;
  display: flex;
}
.price-table-wrap .price-table dl:first-of-type {
  padding-top: 0px;
}
.price-table-wrap .price-table dl:last-of-type {
  padding-bottom: 0px;
  border-bottom: none;
}
.price-table-wrap .price-table dl dt {
  width: 77.67%;
  line-height: 1.5;
}
.price-table-wrap .price-table dl dd {
  width: 22.32%;
  text-align: center;
  line-height: 1.5;
}

.contact-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.contact-btn-wrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  position: relative;
  border-radius: 10px;
  padding: 10px 0;
}
.contact-btn-wrap a span {
  position: relative;
  line-height: 1.3;
}
.contact-btn-wrap .tel-btn {
  background-color: #CEAF78;
  color: #ffffff;
  font-size: 22px;
  transition: 0.3s all;
}
.contact-btn-wrap .tel-btn::before {
  content: "";
  background: url(../media/images/c-telArw.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 6px;
  width: 26px;
  bottom: 10px;
  right: 10px;
  position: absolute;
}
.contact-btn-wrap .tel-btn span {
  padding: 12px 0px 12px 45px;
  letter-spacing: 2px;
}
.contact-btn-wrap .tel-btn span::before {
  content: "";
  background: url(../media/images/tel-icon.png);
  background-size: contain;
  height: 36px;
  width: 36px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  transition: 0.3s;
}
.contact-btn-wrap .tel-btn:hover {
  color: #CEAF78;
  background-color: #ffffff;
}
.contact-btn-wrap .tel-btn:hover span::before {
  background: url(../media/images/tel-icon_h.png);
  background-size: contain;
}
.contact-btn-wrap .line-btn {
  background-color: #4CC755;
  color: #ffffff;
  font-size: 18px;
  transition: 0.3s all;
}
.contact-btn-wrap .line-btn span {
  padding: 12px 0px 12px 50px;
}
.contact-btn-wrap .line-btn span::before {
  content: "";
  background: url(../media/images/line-icon.png);
  background-size: contain;
  height: 32px;
  width: 42px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  transition: 0.3s;
}
.contact-btn-wrap .line-btn:hover {
  color: #4CC755;
  background-color: #ffffff;
}
.contact-btn-wrap .line-btn:hover span::before {
  background: url(../media/images/line-icon_h.png);
  background-size: contain;
}

.menu-contact-block {
  background-color: #FFF4F2;
  border-radius: 15px;
  padding: 45px 20px;
  text-align: center;
  max-width: 944px;
  margin: 0 auto;
}
.menu-contact-block p:first-of-type {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.menu-contact-block p:first-of-type span {
  color: #F8887D;
}

.footer-fv {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.footer-fv img {
  width: 100%;
  height: 150%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(0%, 0%);
  transition: transform 0.2sease-out;
  translate: none;
  rotate: none;
  scale: none;
}

.footer-menu-area {
  background-image: linear-gradient(to right, #5DC1CF, #49B3CB);
  padding: 270px 100px 200px;
  margin-top: -220px;
  position: relative;
  z-index: 2;
}

.footerContent-wrap {
  max-width: 1064px;
  margin: 0 auto;
}

.footer-nav-wrap nav {
  border-bottom: 1px solid #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 20px 0;
}
.footer-nav-wrap nav:last-child {
  border-bottom: none;
}
.footer-nav-wrap nav:nth-of-type(2) .menu-ttl {
  margin-bottom: 15px;
}
.footer-nav-wrap nav li, .footer-nav-wrap nav a {
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.footer-nav-wrap nav a {
  transition: 0.2s;
}
.footer-nav-wrap nav a:hover {
  filter: opacity(40%);
}
.footer-nav-wrap nav .menu-ttl a {
  padding-left: 15px;
  font-size: 16px;
  position: relative;
  margin-bottom: 35px;
}
.footer-nav-wrap nav .menu-ttl a::before {
  content: "◎";
  color: #fff;
  font-size: 10px;
  background-size: contain;
  top: 9px;
  left: 0;
  position: absolute;
}
.footer-nav-wrap nav .detail-menu li {
  margin-bottom: 10px;
  padding-left: 15px;
}
.footer-nav-wrap nav .detail-menu li:last-child {
  margin-bottom: 15px;
}
.footer-nav-wrap nav .detail-menu li a {
  font-size: 14px;
}

.footer-contact-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 30px;
}
.footer-contact-wrap .mainSite-bnr {
  width: 30.73%;
}
.footer-contact-wrap .footer-contact-bnr {
  width: 67.38%;
  display: flex;
  align-items: center;
  gap: 30px;
  background: #32AAC1;
  border-radius: 10px;
  padding: 30px 35px;
}
.footer-contact-wrap .footer-contact-bnr div:first-child {
  color: #fff;
}
.footer-contact-wrap .footer-contact-bnr div:first-child p {
  font-size: 20px;
  text-align: center;
}
.footer-contact-wrap .footer-contact-bnr div:first-child span {
  font-size: 14px;
  text-align: center;
}
.footer-contact-wrap .footer-contact-bnr .contact-btn-wrap {
  margin-top: 0px;
}
.footer-contact-wrap .footer-contact-bnr .contact-btn-wrap a {
  max-width: 180px;
}
.footer-contact-wrap .footer-contact-bnr .contact-btn-wrap a span {
  font-size: 16px;
}

.footer-access-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.footer-access-area .footer-logo {
  width: 30%;
}
.footer-access-area .detai-access {
  width: 65%;
  color: #ffffff;
}
.footer-access-area .detai-access p:first-of-type {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 13px;
}
.footer-access-area .detai-access p:not(:first-of-type) {
  margin-bottom: 10px;
}
.footer-access-area .detai-access p:not(:first-of-type) span {
  font-size: 15px;
  padding-right: 12px;
}
.footer-access-area .detai-access p:not(:first-of-type) img {
  padding-right: 5px;
  transform: translateY(2px);
}

.footer-banner-wrap {
  padding: 0 47px;
  max-width: 986px;
  margin-bottom: 80px;
}
.footer-banner-wrap a {
  transition: 0.2s;
}
.footer-banner-wrap a:hover {
  filter: opacity(40%);
}
.footer-banner-wrap div {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}
.footer-banner-wrap div:first-of-type a:nth-of-type(1) {
  width: 36.51%;
}
.footer-banner-wrap div:first-of-type a:nth-of-type(2) {
  width: 45.61%;
}
.footer-banner-wrap div:first-of-type a:nth-of-type(3) {
  width: 14.6%;
}
.footer-banner-wrap div:last-of-type {
  justify-content: center;
}
.footer-banner-wrap div:last-of-type a {
  width: 38.53%;
}

small {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1200px) {
  .footer-contact {
    transform: translateY(-100px);
  }
  .footer-contact .inner {
    flex-direction: column;
  }
  .footer-contact .inner .txt-area {
    text-align: center;
  }
  .footer-contact .inner .txt-area p:first-child {
    font-size: 24px;
    margin-bottom: 0px;
  }
  .footer-contact .inner .contact-area {
    width: 100%;
  }
  .footer-menu-area {
    margin-top: -300px;
    padding: 350px 50px 200px;
  }
}
@media screen and (max-width: 768px) {
  .footer-fv img {
    transform: translate(20%, 0%);
  }
  .footer-contact {
    padding: 0 10px;
  }
  .footer-contact .inner {
    gap: 15px;
    align-items: normal;
    padding: 40px 20px;
  }
  .footer-contact .inner .contact-area .wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(1) {
    border-radius: 5px;
    padding: 35px 5px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(1) span {
    font-size: 18px;
    padding-left: 40px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(1) span::before {
    width: 30px;
    height: 30px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(2) {
    border-radius: 5px;
    padding: 35px 5px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(2) span {
    font-size: 18px;
    padding-left: 40px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(2) span::before {
    width: 30px;
    height: 30px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(3) {
    grid-column: span 2/span 2;
    border-radius: 5px;
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(3) span {
    font-size: 15px;
    padding-left: 30px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(3) span::before {
    top: -7px;
    left: -19px;
  }
  .footer-menu-area {
    padding: 550px 24px 200px;
    margin-top: -500px;
  }
  .footer-menu-area nav {
    flex-direction: column;
  }
  .menu-about {
    width: 100%;
    margin-bottom: 15px;
  }
  .menu-about .menu-ttl:last-of-type {
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff;
  }
  .menu-treatment {
    width: 100%;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 15px;
  }
  .menu-others {
    width: 100%;
  }
  .medicalMenu-wrapper {
    flex-direction: column;
  }
  .medicalMenu-wrapper .itemWrap01 {
    width: 100%;
  }
  .medicalMenu-wrapper .itemWrap02 {
    width: 100%;
  }
  .detail-menu li {
    margin-bottom: 15px;
  }
  .ttl-line {
    transform: translateY(-20px);
  }
  .detail-column-area {
    display: flex;
    flex-wrap: wrap;
  }
  .detail-column-area li {
    width: 47%;
  }
  .medicalMenu-item:nth-child(1), .medicalMenu-item:nth-child(2), .medicalMenu-item:nth-child(3) {
    margin-bottom: 10px;
  }
  .footer-access-area {
    align-items: flex-start;
    margin: 30px 0;
    flex-direction: column;
  }
  .footer-access-area .footer-logo {
    width: 70%;
    margin-bottom: 20px;
  }
  .footer-access-area .detai-access {
    width: 100%;
  }
  .footer-access-area .detai-access p:not(:first-of-type) {
    margin-bottom: 0px;
  }
  .footer-banner-wrap {
    padding: 0 0px;
  }
  .footer-banner-wrap div {
    flex-direction: column;
  }
  .footer-banner-wrap div:first-of-type a:nth-of-type(1) {
    width: 100%;
  }
  .footer-banner-wrap div:first-of-type a:nth-of-type(2) {
    width: 100%;
  }
  .footer-banner-wrap div:last-of-type a {
    width: 100%;
  }
  .footer-banner-wrap div:last-of-type a:last-of-type {
    width: 40%;
    margin-left: auto;
  }
  small {
    font-size: 12px;
  }
}
@media screen and (max-width: 520px) {
  .footer-contact .inner .contact-area .wrapper a:nth-child(1) span {
    font-size: 15px;
    padding-left: 31px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(1) span::before {
    width: 25px;
    height: 25px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(2) span {
    font-size: 15px;
    padding-left: 31px;
  }
  .footer-contact .inner .contact-area .wrapper a:nth-child(2) span::before {
    width: 25px;
    height: 25px;
  }
  .footer-contact .inner .txt-area p:first-child {
    font-size: 22px;
  }
}/*# sourceMappingURL=style.css.map */