:root{
    --textColor :#595553;
    --textBlue :#2BB9CD;
    --textPink :#F8887D;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}
body{
    font-family: "Zen Maru Gothic", serif;
    color: var(--textColor);
    font-weight: 600;
    letter-spacing: 1px;
    
}
p{
    line-height: 1.7;

}

img{
    max-width: 100%;
}
.sp-only{
    display: none;

}
.c-hover{
    transition: .2s;

    &:hover{
        filter: opacity(40%);
    }
}

.pinkTxt{
    color: var(--textPink)!important;
}
.blueTxt{
    color: var(--textBlue)!important;
}
.dotBobder{
    border-bottom: 4px dotted var(--textColor);
    padding-bottom: 15px;
}
.ttl-wrap{
    margin: 0 auto 30px;
    text-align: center;

}
.fukidashiTtl{
    .fukidashi{
        font-size: 18px;
        background-color: #FFCEC9;
        padding: 5px 20px;
        border-radius: 30px;
        position: relative;

        &::before{
            content: '';
            background: url(../media/images/tabFukidashi01.png) no-repeat;
            background-size: contain;
            width: 32px;
            height: 14px;
            position: absolute;
            bottom: -14px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    h2{
        margin-top: 30px;
    }
}
.num{
    color: var(--textPink);
    display: inline-block;
    margin-right: 5px;
}

h2{
    font-size: 32px;
    font-weight: bold;

    .strong{
        font-size: 38px;
    }
}

header{
    width: 100%;
    box-sizing: border-box;
    padding: 24px 32px 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;

    .header-logo{
        width: 201px;
        height: 62px;
        display: block;
    }

}
.fv{
    width: 100%;
    height: 100vh;
    position: relative;

    &::before{
        content: '';
        background: url(../media/images/fv-pcImg.png);
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center right;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 0 0 80px;
    }
}
.lp-title-area{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lp-titleWrap{
    color: var(--textPink);
    text-align: center;

    h1{
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 1.5;
        letter-spacing: 4px;
    }
    .sab-ttl{
        margin-bottom: 25px;
    }
    .smile-logo{
        width: 120px;
        height: 15px;
        margin: 0 auto;
    }
}

.containerWrap{
    padding: 40px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}
.tab-item-wrap{
    max-width: 1120px;
    margin: 30px auto 60px;
    display: flex;
    justify-content: space-between;

    .tab-item{
        width: 23.92%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        border-radius: 5px;
        position: relative;
        cursor: pointer;

        .inner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }

        p{
            font-size: 20px;
            text-align: center;
            line-height: 1.2;
        }
        span{
            font-size: 15px;
        }
        .tabArw{
            width: 24px;
            height: 24px;
            position: relative;

            img{
                &:last-child{
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}
.tab-item01{
    background-image: linear-gradient(to right, #FFBDB6, #FC9990);

    &::before{
        content: '';
        background: url(../media/images/tabFukidashi01.png) no-repeat;
        background-size: contain;
        width: 32px;
        height: 14px;
        bottom: -13px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }
}

.tab-item02{
    background-image: linear-gradient(to right, #71D0DD, #30BBDA);

    &::before{
        content: '';
        background: url(../media/images/tabFukidashi02.png) no-repeat;
        background-size: contain;
        width: 32px;
        height: 14px;
        bottom: -13px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }
}
.tab-item03{
    background-image: linear-gradient(to right, #71D0DD, #30BBDA);

    &::before{
        content: '';
        background: url(../media/images/tabFukidashi02.png) no-repeat;
        background-size: contain;
        width: 32px;
        height: 14px;
        bottom: -13px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }
}
.tab-item04{
    background-image: linear-gradient(to right, #D8BA88, #DAAA54);

    &::before{
        content: '';
        background: url(../media/images/tabFukidashi04.png) no-repeat;
        background-size: contain;
        width: 32px;
        height: 14px;
        bottom: -13px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }
}
//共通コンテンツ
.commonContent-block{
    padding: 70px 0;
}
.graph-block{
    max-width: 850px;
    margin: 0 auto 70px;
    display: flex;
    justify-content: space-between;

    .graph-area{
        width: 50.11%;
    }
    .graph-detail-area{
        width: 44.23%;

        .tableWrap{
            display: flex;
            gap: 50px;
            padding-left: 20px;
            margin-top: 20px;

            table{
                border-spacing: 0 20px; /* 横 縦 の順で間隔を指定 */
                border-collapse: separate; /* これが重要 */

                td:first-child{
                    padding-right: 10px;
                }

            }
        }
    }
    .noteTxt{
        font-size: 12px;
    }
}
.feature-block{
    margin-bottom: 70px;
    position: relative;
    &::before{
        content: '';
        background: url(../media/images/c-content_person01.png) no-repeat;
        background-size: contain;
        width: 322px;
        height: 182px;
        position: absolute;
        top: -63px;
        right: 0;
    }
}
.feature-item-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}
.feature-item{
    border: 5px solid #FFEFEC;
    background-color: #FFFAF9;
    padding: 25px 40px;
    border-radius: 20px;
    position: relative;

    &::before{
        content: '';
        background: url(../media/images/memphis-pink.png) no-repeat;
        background-size: contain;
        width: 72px;
        height: 75px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    dt{
        font-size: 20px;
        border-bottom: 1px solid #D1CDC6;
        padding-bottom: 15px;
        margin-bottom: 20px;
        position: relative;
        z-index: 2;

        span{
            color: var(--textPink);
        }
    }
    dd{
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .img-area{
            width: 35.59%;
        }
        .txt-area{
            width: 61.01%;
        }
    }
}
.price-block{
    margin-bottom: 70px;
    .ttl-wrap{
        width: 376px;
    }
    .noteTxt{
        color: var(--textPink);
    }
}
.price-table-wrap{
    p{
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;

        &::before{
            content: "";
            width: 18px;
            height: 18px;
            background: var(--textBlue);
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 0;
        }
    }
    ul{
        display: flex;
        padding: 0 45px;
        background-color: var(--textBlue);


        li{
            padding: 15px 0;
            color: #ffffff;

            &:first-of-type{
                width: 77.67%;
                text-align: center;
                letter-spacing: 16px;
            }
            &:last-of-type{
                width: 22.32%;
                text-align: center;
            }
        }
    }
    .price-table{
        background-color: #ffffff;
        padding: 30px 45px 35px;

        dl{
            border-bottom: 2px dashed #D1CDC6;
            padding: 10px 0;
            display: flex;

            &:first-of-type{
                padding-top: 0px;
            }
            &:last-of-type{
                padding-bottom: 0px;
                border-bottom: none;
            }
            dt{
                width: 77.67%;
                line-height: 1.5;
            }
            dd{
                width: 22.32%;
                text-align: center;
                line-height: 1.5;
            }

        }
    }
}

//コンタクトボタン
.contact-btn-wrap{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        position: relative;
        border-radius: 10px;
        padding: 10px 0;

        span{
            position: relative;
            line-height: 1.3;
        }
    }
    .tel-btn{
        background-color: #CEAF78;
        color: #ffffff;
        font-size: 22px;
        transition: .3s all;

        &::before{
            content: '';
            background: url(../media/images/c-telArw.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            height: 6px;
            width: 26px;
            bottom: 10px;
            right: 10px;
            position: absolute;
        }

        span{
            padding: 12px 0px 12px 45px;
            letter-spacing: 2px;

            &::before{
                content: '';
                background: url(../media/images/tel-icon.png);
                background-size: contain;
                height: 36px;
                width: 36px;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                position: absolute;
                transition: .3s;
            }

        }

        &:hover{
            color: #CEAF78;
            background-color: #ffffff;
            span{
                &::before{
                    background: url(../media/images/tel-icon_h.png);
                    background-size: contain;
                }
            }
        }

    }
    .line-btn{
        background-color: #4CC755;
        color: #ffffff;
        font-size: 18px;
        transition: .3s all;

        span{
            padding: 12px 0px 12px 50px;

            &::before{
                content: '';
                background: url(../media/images/line-icon.png);
                background-size: contain;
                height: 32px;
                width: 42px;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                position: absolute;
                transition: .3s;
            }
        }

        &:hover{
            color: #4CC755;
            background-color: #ffffff;
            span{
                &::before{
                    background: url(../media/images/line-icon_h.png);
                    background-size: contain;
                }
            }
        }

    }
}

.menu-contact-block{
    background-color: #FFF4F2;
    border-radius: 15px;
    padding: 45px 20px;
    text-align: center;
    p{
        &:first-of-type{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
            span{
                color: #F8887D;
            }
        }
    }
}

// Footer Styles
.footer-fv{
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    z-index: 3;

    img{
        width: 100%;
        height: 150%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translate(0%, 0%);
        transition: transform 0.2sease-out;
        translate: none;
        rotate: none;
        scale: none;
    }
}

.footer-menu-area{
    background-image: linear-gradient(to right,#5DC1CF, #49B3CB);
    padding: 270px 100px 200px;
    margin-top: -220px;
    position: relative;
    z-index: 2;

}
.footerContent-wrap{
    max-width: 1064px;
    margin: 0 auto;
}

.footer-nav-wrap{
    nav{
        border-bottom: 1px solid #fff;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 20px 0;

        &:last-child{
            border-bottom: none;
        }
        &:nth-of-type(2){
            .menu-ttl{
                margin-bottom: 15px;
            }
        }

        li,a{
            color: #ffffff;
            font-weight: bold;
            letter-spacing: 1.5px;
        }
        a{
            transition: .2s;

            &:hover{
                filter: opacity(40%);
            }
        }

        .menu-ttl{
            a{
                padding-left: 15px;
                font-size: 16px;
                position: relative;
                margin-bottom: 35px;

                &::before{
                    content: '◎';
                    color: #fff;
                    font-size: 10px;
                    background-size: contain;
                    top: 9px;
                    left: 0;
                    position: absolute;
                }
            }
        }
        .detail-menu{
            li{
                margin-bottom: 10px;
                padding-left: 15px;
        
                &:last-child{
                    margin-bottom: 15px;
                }
        
                a{
                    font-size: 14px;
                }
            }
        }
    }
}
.footer-contact-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 30px;

    .mainSite-bnr{
        width: 30.73%;
    }
    .footer-contact-bnr{
        width: 67.38%;
        display: flex;
        align-items: center;
        gap: 30px;
        background: #32AAC1;
        border-radius: 10px;
        padding: 30px 35px;
        div{
            &:first-child{
                color: #fff;

                p{
                    font-size: 20px;
                    text-align: center;
                }
                span{
                    font-size: 14px;
                    text-align: center;
                }
            }
        }

        .contact-btn-wrap{
            margin-top: 0px;
            a{
                max-width: 180px;
                span{
                    font-size: 16px;
                }
            }
            
        }
    }
}




.footer-access-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;

    .footer-logo{
        width: 30%;
    }

    .detai-access{
        width: 65%;
        color: #ffffff;

        p{
            &:first-of-type{
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 2px;
                margin-bottom: 13px;
            }

            &:not(:first-of-type){
                margin-bottom: 10px;

                span{
                    font-size: 15px;
                    padding-right: 12px;
                }
                img{
                    padding-right: 5px;
                    transform: translateY(2px);
                }
            }
        }
    }
}

.footer-banner-wrap{
    padding: 0 47px;
    max-width: 986px;
    margin-bottom: 80px;

    a{
        transition: .2s;

        &:hover{
            filter: opacity(40%);
        }
    }

    div{
        display: flex;
        gap: 16px;
        margin-bottom: 20px;

        &:first-of-type{
            a{
                &:nth-of-type(1){
                    width: 36.51%;
                }
                &:nth-of-type(2){
                    width: 45.61%;
                }
                &:nth-of-type(3){
                    width: 14.60%;
                }
            }
        }

        &:last-of-type{
            justify-content: center;

            a{
                width: 38.53%;
            }
        }
    }
}

small {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

// Footer Responsive Styles
@media screen and (max-width: 1200px) {
    .footer-contact{
        transform: translateY(-100px);

        .inner{
            flex-direction: column;

            .txt-area{
                text-align: center;

                p{
                    &:first-child{
                        font-size: 24px;
                        margin-bottom: 0px;
                    }
                }
            }
            .contact-area{
                width: 100%;
            }
        }
    }
    .footer-menu-area{
        margin-top: -300px;
        padding: 350px 50px 200px;
    }
}

@media screen and (max-width: 768px) {
    .footer-fv{
        img{
            transform: translate(20%, 0%);
        }
    }
    .footer-contact{
        padding: 0 10px;
        .inner{
            gap: 15px;
            align-items: normal;
            padding: 40px 20px;

            .contact-area{
                .wrapper{
                    grid-template-columns: repeat(1, 1fr);
                    gap: 8px;

                    a{
                        &:nth-child(1){
                            border-radius: 5px;
                            padding: 35px 5px;
                            span{
                                font-size: 18px;
                                padding-left: 40px;

                                &::before{
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                        &:nth-child(2){
                            border-radius: 5px;
                            padding: 35px 5px;
                            span{
                                font-size: 18px;
                                padding-left: 40px;

                                &::before{
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                        &:nth-child(3){
                            grid-column: span 2 / span 2;
                            border-radius: 5px;
                            padding: 20px 0px 20px 0px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            span{
                                font-size: 15px;
                                padding-left: 30px;

                                &::before{
                                    top: -7px;
                                    left: -19px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-menu-area{
        padding: 550px 24px 200px;
        margin-top: -500px;
        nav{
            flex-direction: column;
        }
    }
    .menu-about{
        width: 100%;
        margin-bottom: 15px;

        .menu-ttl{
            &:last-of-type{
                padding-bottom: 15px;
                border-bottom: 1px solid #ffffff;
            }
        }
    }
    .menu-treatment{
        width: 100%;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 15px;
    }
    .menu-others{
        width: 100%;
    }
    .medicalMenu-wrapper{
        flex-direction: column;
        .itemWrap01{
            width: 100%;
        }
        .itemWrap02 {
            width: 100%;
        }
    }
    .detail-menu{
        li{
            margin-bottom: 15px;
        }
    }
    .ttl-line{
        transform: translateY(-20px);
    }

    .detail-column-area {
        display: flex;
        flex-wrap: wrap;

        li{
            width: 47%;
        }
    }
    .medicalMenu-item{
        &:nth-child(1),&:nth-child(2),&:nth-child(3){
            margin-bottom: 10px;
        }
    }
    .footer-access-area{
        align-items: flex-start;
        margin: 30px 0;
        flex-direction: column;

        .footer-logo {
            width: 70%;
            margin-bottom: 20px;
        }
        .detai-access {
            width: 100%;

            p{
                &:not(:first-of-type){
                    margin-bottom: 0px;
                }
            }
        }
    }
    .footer-banner-wrap{
        padding: 0 0px;

        div{
            flex-direction: column;
            &:first-of-type{
                a{
                    &:nth-of-type(1){
                        width: 100%;
                    }
                    &:nth-of-type(2){
                        width: 100%;
                    }
                }
            }
            &:last-of-type{
                a{
                    width: 100%;

                    &:last-of-type{
                        width: 40%;
                        margin-left: auto;
                    }
                }
            }
        }
    }
    small{
        font-size: 12px;
    }
}

@media screen and (max-width: 520px) {
    .footer-contact{
        .inner{
            .contact-area{
                .wrapper{
                    a{
                        &:nth-child(1){
                            span{
                                font-size: 15px;
                                padding-left: 31px;

                                &::before{
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                        &:nth-child(2){
                            span{
                                font-size: 15px;
                                padding-left: 31px;
                                
                                &::before{
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                    }
                }
            }
            .txt-area{
                p{
                    &:first-child{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}